<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 사용자 목록 출력 -->
<ol>
    <li th:each="user :${directory}">
        <span th:text="${user.id}"></span>
        <!-- 각 User 별로 삭제 버튼 추가 -->
        <form method="post" th:action="@{/deleteTodo}">
            <input type="hidden" name="id" th:value="${user.id}"/>
            <input type="submit" value="Delete"/>
        </form>
    </li>
</ol>
</body>
</html>
