<!DOCTYPE html>
<html lang="ko"

      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>To Do App - Home</title>
</head>
<body>

<h1>Welcome to To Do App</h1>

<!-- Add User Form -->
<form method="get" action="/addTodo">

    <input type="submit" value="회원가입">
</form>
<br>
<!-- Delete User Form -->

<form method="get" action="/user">

    <input type="submit" value="아이디 목록">
</form>

<br>
<form method ="get" action="/login">
    <input type ="submit" value = "로그인">
</form>
<hr>

<br>
</body>
</html>